<!-- header -->
<app-nav-bar></app-nav-bar>
<!-- end -->

<section class="services" id="team">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="heading">Our Trainers</h1>
<h2><p>Select your trainer-----></p></h2>
<Br>
    <div class="box-container">

        <div class="box">
            <img src="https://images.pexels.com/photos/6740312/pexels-photo-6740312.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <div class="content">
                <h3>Eric Frenando</h3>
                <p>Strength,Cardio(Evaluate clients' fitness levels and health conditions.)</p>
                <a [routerLink]="['timeslot']" class="btn">Get Time</a>
            </div>
        </div>

        <div class="box">
            <img src="https://images.pexels.com/photos/6455597/pexels-photo-6455597.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="content">
                <h3>Asic Malic</h3>
                <p>Strength,Cardio<br>(Build individualized exercise programs)</p>
                <a  [routerLink]="['timeslot']" class="btn">Get Time</a>
            </div>
        </div>

        <div class="box">
            <img src="https://images.pexels.com/photos/1423384/pexels-photo-1423384.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <div class="content">
                <h3>Ranuka Abekhon</h3>
                <p>Cross Trainer,Strengeth<br>(Monitor progress of clients’ fitness levels.)</p>
                <a [routerLink]="['timeslot']" class="btn">Get Time</a>
            </div>
        </div>

        <div class="box">
            <img src="https://images.pexels.com/photos/7676548/pexels-photo-7676548.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="content">
                <h3>Yenuki Methasarani</h3>
                <p>Yoga,Strength,Cardio<br>(Build a positive and trusting relationship with customers.)</p>
                <a [routerLink]="['timeslot']" class="btn">Get Time</a>
            </div>
        </div>

        <div class="box">
            <img src="https://images.pexels.com/photos/2092479/pexels-photo-2092479.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="content">
                <h3>Kavetha Abekone</h3>
                <p>Cross Trainer,Strengeth<br>(Advise customers on how to change nutritional and lifestyle habits as needed</p>
                <a [routerLink]="['timeslot']" class="btn">Get Time</a>
            </div>
        </div>

        <div class="box">
            <img src="https://images.pexels.com/photos/2204179/pexels-photo-2204179.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <div class="content">
                <h3>Ravindu Kalhara</h3>
                <p>Cross Trainer,Strengeth<br>(Explain exercises in detail and suggest alternatives if needed.)</p>
                <a [routerLink]="['timeslot']" class="btn">Get Time</a>
            </div>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/5327487/pexels-photo-5327487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="content">
                <h3>Manuka Wijerathana</h3>
                <p>Yoga,Strength,Cardio<br>(Build a positive and trusting relationship with customers.</p>
                <a [routerLink]="['timeslot']" class="btn">Get Time</a>
            </div>
        </div>

        <div class="box">
            <img src="https://images.pexels.com/photos/4720268/pexels-photo-4720268.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="content">
                <h3>Bandara Janaka</h3>
                <p>Cross Trainer,Strengeth<br>(Research on new exercise techniques and trends.)</p>
                <a [routerLink]="['timeslot']" class="btn">Get Time</a>
            </div>
        </div>

    </div>

</section>