    <!-- header -->

    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-dumbbell"></i>Orilka fitness</a>

        <nav class="navbar">
            <a href="#home" class="active">home</a>
            <a href="#about">about</a>
            <a href="#services">services</a>
            <a href="#pricing">pricing</a>
            <a href="#team">team</a>
            <a href="#register">register</a>
        </nav>

        <div id="menu" class="fas fa-bars"></div>

    </header>